<div ng-controller="ProductDetailCtrl">

	  <h1>{{product.name}} <small>{{product.partNumber}}</small></h1>

	<div class="row">
	  <div class="container col-md-5">
		<img ng-src="{{product.images[0].full}}" class="img-thumbnail" />
	  </div>
	  <div class="container col-md-7">
	  	<div class="row">
			  <div ng-repeat="image in product.images" class="col-md-3">
			  	<a href="#">
					<img ng-src="{{image.thumbnail}}" class="thumbnail" />
				</a>
				</div>
			  </div>
		</div>
	</div>
<p>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Product Description</h3>
	  </div>
	  <div class="panel-body">
	    {{product.description}}
	  </div>
	</div>

</div>
